{% extends "layout.html" %}

{% block title %}
About Page
{% endblock %}

{% block main %}
<div class = "aboutBox">
    <h1 class = "specialh1">About</h1>
    <h2>Usage</h2>
    <p>1. Select <a href="/channelInfo">'View a Channel's Stats'</a> and select a channel to see all sorts of statistics about that YouTube channel.</p>
    <p>2. Select <a href="/databaseInfo">'View Database Stats'</a> to view statistics involving every channel in the database.</p>
    <p>3. Have fun!</p>
    <h2>Rights</h2>
    <p>Created by David Killian for Harvard's Cs50 Class</p>
    <p>(December 25th, 2023)<p>
</div>
{% endblock %}
